$font-path:         "/fonts" !default;
$fontName: 'sourcesanspro', sans-serif;
$fontSemibold: 'sourcesanspro-semibold', sans-serif;
$fontLight: 400;
$fontRegular: 500;
$fontBold: 700;
$fontBold: 700;

$white: #ffffff;
$black: #000000;
$red: #e8404c;