<h1 class="page-header">List of brands</h1>
<div>
    <div class="form-group row">
        <div class="col-12">
            <input type='text' class="realtime-filter" placeholder='Type to filter the name column' (keyup)='updateFilter($event)' />
        </div>
    </div>
    <div class="form-group row">
        <ngx-datatable #table class='material' [headerHeight]="50" 
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [selectionType]="'single'">

            <ngx-datatable-column name="No" [width]="50">
                <ng-template let-rowIndex="rowIndex + 1" let-row="row" ngx-datatable-cell-template>
                    {{rowIndex}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Name" [width]="1000">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf=" ! editing[rowIndex + '-name']">
                        {{value}}
                    </span>
                    <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Date" prop="created" [width]="200">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date : 'dd/MM/yyyy HH:mm:ss'}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>