<div class="col-sm-2 col-md-1 sidebar">
    <h4>Product</h4>
    <ul class="nav nav-sidebar">
        <li class="">
            <a routerLink="product/list">List</a>
        </li>
        <li class="">
            <a routerLink="product/add">Add product</a>
        </li>
    </ul>
    <h4>Supplier</h4>
    <ul class="nav nav-sidebar">
        <li class="">
            <a routerLink="supplier/list">List</a>
        </li>
        <li class="">
            <a routerLink="supplier/add">Add supplier</a>
        </li>
    </ul>
    <h4>Brand</h4>
    <ul class="nav nav-sidebar">
        <li class="">
            <a routerLink="brand/list">List</a>
        </li>
        <li class="">
            <a routerLink="brand/add">Add supplier</a>
        </li>
    </ul>
    <h4>Category</h4>
    <ul class="nav nav-sidebar">
        <li class="">
            <a routerLink="category/list">List</a>
        </li>
        <li class="">
            <a routerLink="category/add">Add Category</a>
        </li>
    </ul>
</div>